# Laravel settings
APP_ENV=local
APP_DEBUG=true
APP_KEY=SomeSuperSecretKey

DB_DATABASE=account_verification

# Leave username empty to use your default postgres username
DB_USERNAME=your_db_username

# Leave DB_PASSWORD empty if your user uses no password
DB_PASSWORD=your_db_password

# Twilio API credentials
# Found at https://www.twilio.com/user/account/settings
TWILIO_ACCOUNT_SID=ACXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
TWILIO_AUTH_TOKEN=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

# Twilio phone number
# Purchase one at https://www.twilio.com/user/account/phone-numbers
TWILIO_NUMBER=+15552737123

# Authy Credentials
AUTHY_API_KEY=your_api_key
